body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.grid>.column+.divider, .ui.grid>.row>.column+.divider {
  left: auto !important;
  margin-left: 2em;
}

.ui.card>.content, .ui.cards>.card>.content {
  padding: .5em 1em !important;
}

.ui.cards>.card {
  margin: .7em .5em !important;
}
